assignment1/cs231n/datasets/cifar-10-batches-py/
assignment1/cs231n/__pycache__/
assignment1/cs231n/classifiers/__pycache__/
assignment1/cs231n/datasets/imagenet_val_25.npz
assignment2/aaa.py
assignment2/cs231n/datasets/cifar-10-batches-py/
assignment2/cs231n/datasets/imagenet_val_25.npz
assignment2/cs231n/__pycache__/
assignment2/cs231n/build/
assignment2/cs231n/datasets/cifar-10-batches-py/
assignment2/cs231n/classifiers/__pycache__/
D:/Develop/cs231n_upload/assignment3/data/
assignment3/cs231n/datasets/coco_captioning/
assignment3/cs231n/datasets/coco_val_5k.npz
assignment3/cs231n/datasets/MNIST_data
assignment3/pretrained_model/
assignment3/cs231n/datasets/imagenet_val_25.npz
assignment3/cs231n/datasets/coco_captioning/
assignment3/cs231n/datasets/coco_captioning/train2014_vgg16_fc7.h5
assignment3/cs231n/datasets/coco_captioning/val2014_vgg16_fc7.h5
assignment3/cs231n/datasets/coco_captioning/train2014_vgg16_fc7_pca.h5
assignment3/data/cifar-10-python.tar.gz
assignment3/data/cifar-10-batches-py
assignment3/cs231n/datasets/coco_captioning/val2014_vgg16_fc7_pca.h5